/* Estilo para o VBox do microcontrolador */
#microcontrolador-vbox {
    -fx-alignment: top-center; /* Alinha o conteúdo no topo e centralizado */
    -fx-padding: 20px; /* Adiciona espaçamento interno */
    -fx-spacing: 10px; /* Espaçamento entre os elementos internos */
}

/* Estilo para o título (Label) */
#titulo-label {
    -fx-font-size: 20px; 
    -fx-padding: 0 0 10px 0; /* Padding para baixo apenas, movendo o título para cima */
    -fx-alignment: top-center; /* Alinha o texto do título no topo */
}

/* Estilo para o RadioButton */
.radio-button {
    -fx-alignment: center-left; /* Alinha os RadioButtons à esquerda */
}

/* Estilo para o TextField */
#microcontrolador-textfield {
    -fx-pref-width: 150px; /* Define uma largura preferida mais curta */
    -fx-padding: 5px; /* Adiciona padding interno */
}
